<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.palladiosimulator.addon.slingshot.debuggereventsystem.eventhandlerfinder">
      <handlerfinder
            class="org.palladiosimulator.analyzer.slingshot.debugger.descriptor.SlingshotEventHandlerFinder"
            javaEventType="org.eclipse.jdt.core.IType"
            javaMethodType="org.palladiosimulator.analyzer.slingshot.debugger.descriptor.EclipseEventHandler">
      </handlerfinder>
   </extension>
   <extension
         point="org.palladiosimulator.addon.slingshot.debuggereventsystem.listener">
      <listener
      		eventType="org.palladiosimulator.addon.slingshot.debuggereventsystems.listener.events.BreakpointEvent"
            class="org.palladiosimulator.analyzer.slingshot.debugger.descriptor.EclipseEventDebugObserver">
      </listener>
   </extension>

</plugin>
