<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="tp">
	<locations>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
			<repository location="https://download.eclipse.org/tools/orbit/downloads/2023-03/"/>
			<unit id="org.reactivestreams" version="0.0.0"/>
			<unit id="net.bytebuddy.byte-buddy" version="0.0.0"/>
			<unit id="net.bytebuddy.byte-buddy-agent" version="0.0.0"/>
			<unit id="org.hamcrest.library" version="0.0.0"/>
			<unit id="org.mockito.mockito-core" version="0.0.0"/>
			<unit id="org.objenesis" version="0.0.0"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
			<repository location="https://updatesite.palladio-simulator.com/palladio-addons-spd-metamodel/nightly/"/>
			<unit id="org.palladiosimulator.spd.feature.feature.group" version="0.0.0"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
			<repository location="https://updatesite.palladio-simulator.com/palladio-build-updatesite/nightly/"/>
			<unit id="de.uka.ipd.sdq.dsexplore.feature.feature.group" version="6.0.0.202510210818"/>
			<unit id="de.uka.ipd.sdq.dsexplore.feature.source.feature.group" version="6.0.0.202510210818"/>
			<unit id="de.uka.ipd.sdq.featuremodel.feature.config.feature.group" version="6.0.0.202510210737"/>
			<unit id="de.uka.ipd.sdq.featuremodel.feature.config.source.feature.group" version="6.0.0.202510210737"/>
			<unit id="de.uka.ipd.sdq.featuremodel.feature.featureinstanceeditor.feature.group" version="6.0.0.202510210737"/>
			<unit id="de.uka.ipd.sdq.featuremodel.feature.featureinstanceeditor.source.feature.group" version="6.0.0.202510210737"/>
			<unit id="de.uka.ipd.sdq.featuremodel.feature.model.feature.group" version="6.0.0.202510210737"/>
			<unit id="de.uka.ipd.sdq.featuremodel.feature.model.source.feature.group" version="6.0.0.202510210737"/>
			<unit id="de.uka.ipd.sdq.sensorframework.feature.feature.group" version="6.0.0.202510210736"/>
			<unit id="de.uka.ipd.sdq.sensorframework.feature.source.feature.group" version="6.0.0.202510210736"/>
			<unit id="de.uka.ipd.sdq.sensorframework.visualisation.feature.feature.group" version="6.0.0.202510210736"/>
			<unit id="de.uka.ipd.sdq.sensorframework.visualisation.feature.source.feature.group" version="6.0.0.202510210736"/>
			<unit id="de.uka.ipd.sdq.workflow.feature.core.feature.group" version="6.0.0.202510210737"/>
			<unit id="de.uka.ipd.sdq.workflow.feature.core.source.feature.group" version="6.0.0.202510210737"/>
			<unit id="de.uka.ipd.sdq.workflow.feature.mdsd.feature.group" version="6.0.0.202510210737"/>
			<unit id="de.uka.ipd.sdq.workflow.feature.mdsd.source.feature.group" version="6.0.0.202510210737"/>
			<unit id="edu.kit.ipd.sdq.pcm.simulation.scheduler.exact.feature.feature.group" version="6.0.0.202510210812"/>
			<unit id="edu.kit.ipd.sdq.pcm.simulation.scheduler.exact.feature.source.feature.group" version="6.0.0.202510210812"/>
			<unit id="org.palladiosimulator.architecturaltemplates.examples.feature.source.feature.group" version="6.0.0.202510210827"/>
			<unit id="org.palladiosimulator.architecturaltemplates.feature.source.feature.group" version="6.0.0.202510210827"/>
			<unit id="org.palladiosimulator.editors.commons.feature.feature.group" version="6.0.0.202510210749"/>
			<unit id="org.palladiosimulator.editors.commons.feature.source.feature.group" version="6.0.0.202510210749"/>
			<unit id="org.palladiosimulator.editors.sirius.feature.feature.group" version="6.0.0.202510210833"/>
			<unit id="org.palladiosimulator.editors.sirius.feature.source.feature.group" version="6.0.0.202510210833"/>
			<unit id="org.palladiosimulator.editors.tree.feature.feature.group" version="6.0.0.202510210753"/>
			<unit id="org.palladiosimulator.editors.tree.feature.source.feature.group" version="6.0.0.202510210753"/>
			<unit id="org.palladiosimulator.edp2.distancemetrics.feature.feature.group" version="6.0.0.202510210740"/>
			<unit id="org.palladiosimulator.edp2.distancemetrics.feature.source.feature.group" version="6.0.0.202510210740"/>
			<unit id="org.palladiosimulator.edp2.feature.feature.group" version="6.0.0.202510210740"/>
			<unit id="org.palladiosimulator.edp2.feature.source.feature.group" version="6.0.0.202510210740"/>
			<unit id="org.palladiosimulator.edp2.filter.additional.feature.feature.group" version="6.0.0.202510210740"/>
			<unit id="org.palladiosimulator.edp2.filter.additional.feature.source.feature.group" version="6.0.0.202510210740"/>
			<unit id="org.palladiosimulator.edp2.ui.feature.feature.group" version="6.0.0.202510210740"/>
			<unit id="org.palladiosimulator.edp2.ui.feature.source.feature.group" version="6.0.0.202510210740"/>
			<unit id="org.palladiosimulator.experimentautomation.application.feature.feature.group" version="6.0.0.202510210818"/>
			<unit id="org.palladiosimulator.experimentautomation.application.feature.source.feature.group" version="6.0.0.202510210818"/>
			<unit id="org.palladiosimulator.experimentautomation.application.tooladapter.simucom.feature.feature.group" version="6.0.0.202510210818"/>
			<unit id="org.palladiosimulator.experimentautomation.application.tooladapter.simucom.feature.source.feature.group" version="6.0.0.202510210818"/>
			<unit id="org.palladiosimulator.experimentautomation.application.tooladapter.simulizar.feature.feature.group" version="6.0.0.202510210818"/>
			<unit id="org.palladiosimulator.experimentautomation.application.tooladapter.simulizar.feature.source.feature.group" version="6.0.0.202510210818"/>
			<unit id="org.palladiosimulator.experimentautomation.examples.feature.feature.group" version="6.0.0.202510210818"/>
			<unit id="org.palladiosimulator.experimentautomation.examples.feature.source.feature.group" version="6.0.0.202510210818"/>
			<unit id="org.palladiosimulator.experimentautomation.feature.feature.group" version="6.0.0.202510210818"/>
			<unit id="org.palladiosimulator.experimentautomation.feature.source.feature.group" version="6.0.0.202510210818"/>
			<unit id="org.palladiosimulator.generator.fluent.feature.feature.group" version="6.0.0.202510210749"/>
			<unit id="org.palladiosimulator.generator.fluent.feature.source.feature.group" version="6.0.0.202510210749"/>
			<unit id="org.palladiosimulator.mdsdprofiles.feature.feature.group" version="6.0.0.202510210735"/>
			<unit id="org.palladiosimulator.mdsdprofiles.feature.source.feature.group" version="6.0.0.202510210735"/>
			<unit id="org.palladiosimulator.measurementframework.feature.feature.group" version="6.0.0.202510210738"/>
			<unit id="org.palladiosimulator.measurementframework.feature.source.feature.group" version="6.0.0.202510210738"/>
			<unit id="org.palladiosimulator.measurementsui.feature.feature.group" version="6.0.0.202510210821"/>
			<unit id="org.palladiosimulator.measurementsui.feature.source.feature.group" version="6.0.0.202510210821"/>
			<unit id="org.palladiosimulator.metricspec.feature.feature.group" version="6.0.0.202510210735"/>
			<unit id="org.palladiosimulator.metricspec.feature.source.feature.group" version="6.0.0.202510210735"/>
			<unit id="org.palladiosimulator.monitorrepository.feature.feature.group" version="6.0.0.202510210754"/>
			<unit id="org.palladiosimulator.monitorrepository.feature.source.feature.group" version="6.0.0.202510210754"/>
			<unit id="org.palladiosimulator.pcm.confidentiality.context.editor.feature.feature.group" version="6.0.0.202510210755"/>
			<unit id="org.palladiosimulator.pcm.confidentiality.context.editor.feature.source.feature.group" version="6.0.0.202510210755"/>
			<unit id="org.palladiosimulator.pcm.confidentiality.context.model.feature.feature.group" version="6.0.0.202510210755"/>
			<unit id="org.palladiosimulator.pcm.confidentiality.context.model.feature.source.feature.group" version="6.0.0.202510210755"/>
			<unit id="org.palladiosimulator.pcm.edp2.measuringpoint.feature.feature.group" version="6.0.0.202510210743"/>
			<unit id="org.palladiosimulator.pcm.edp2.measuringpoint.feature.source.feature.group" version="6.0.0.202510210743"/>
			<unit id="org.palladiosimulator.pcm.feature.feature.group" version="6.0.0.202510210743"/>
			<unit id="org.palladiosimulator.pcm.feature.source.feature.group" version="6.0.0.202510210743"/>
			<unit id="org.palladiosimulator.probeframework.feature.feature.group" version="6.0.0.202510210743"/>
			<unit id="org.palladiosimulator.probeframework.feature.source.feature.group" version="6.0.0.202510210743"/>
			<unit id="org.palladiosimulator.protocom.feature.feature.group" version="6.0.0.202510210814"/>
			<unit id="org.palladiosimulator.protocom.feature.source.feature.group" version="6.0.0.202510210814"/>
			<unit id="org.palladiosimulator.protocom.javaee.feature.feature.group" version="6.0.0.202510210814"/>
			<unit id="org.palladiosimulator.protocom.javaee.feature.source.feature.group" version="6.0.0.202510210814"/>
			<unit id="org.palladiosimulator.recorderframework.feature.feature.group" version="6.0.0.202510210746"/>
			<unit id="org.palladiosimulator.recorderframework.feature.source.feature.group" version="6.0.0.202510210746"/>
			<unit id="org.palladiosimulator.reliability.feature.feature.group" version="6.0.0.202510210806"/>
			<unit id="org.palladiosimulator.reliability.feature.source.feature.group" version="6.0.0.202510210806"/>
			<unit id="org.palladiosimulator.retriever.feature.feature.group" version="6.0.0.202510210752"/>
			<unit id="org.palladiosimulator.retriever.feature.source.feature.group" version="6.0.0.202510210752"/>
			<unit id="org.palladiosimulator.retriever.services.feature.feature.group" version="5.2.0.202510210747"/>
			<unit id="org.palladiosimulator.retriever.services.feature.source.feature.group" version="5.2.0.202510210747"/>
			<unit id="org.palladiosimulator.retriever.vulnerability.feature.feature.group" version="5.2.0.202510210801"/>
			<unit id="org.palladiosimulator.retriever.vulnerability.feature.source.feature.group" version="5.2.0.202510210801"/>
			<unit id="org.palladiosimulator.servicelevelobjective.feature.feature.group" version="6.0.0.202510210759"/>
			<unit id="org.palladiosimulator.servicelevelobjective.feature.source.feature.group" version="6.0.0.202510210759"/>
			<unit id="org.palladiosimulator.simucom.feature.feature.group" version="6.0.0.202510210809"/>
			<unit id="org.palladiosimulator.simucom.feature.source.feature.group" version="6.0.0.202510210809"/>
			<unit id="org.palladiosimulator.simulation.abstractsimengine.desmoj.feature.feature.group" version="6.0.0.202510210733"/>
			<unit id="org.palladiosimulator.simulation.abstractsimengine.desmoj.feature.source.feature.group" version="6.0.0.202510210733"/>
			<unit id="org.palladiosimulator.simulation.abstractsimengine.ssj.feature.feature.group" version="6.0.0.202510210733"/>
			<unit id="org.palladiosimulator.simulation.abstractsimengine.ssj.feature.source.feature.group" version="6.0.0.202510210733"/>
			<unit id="org.palladiosimulator.simulizar.feature.feature.group" version="6.0.0.202510210812"/>
			<unit id="org.palladiosimulator.simulizar.feature.source.feature.group" version="6.0.0.202510210812"/>
			<unit id="org.palladiosimulator.simulizar.reconfiguration.qvto.feature.feature.group" version="6.0.0.202510210812"/>
			<unit id="org.palladiosimulator.simulizar.reconfiguration.qvto.feature.source.feature.group" version="6.0.0.202510210812"/>
			<unit id="org.palladiosimulator.simulizar.reconfiguration.storydiagram.feature.feature.group" version="6.0.0.202510210812"/>
			<unit id="org.palladiosimulator.simulizar.reconfiguration.storydiagram.feature.source.feature.group" version="6.0.0.202510210812"/>
			<unit id="org.palladiosimulator.solver.feature.feature.group" version="6.0.0.202510210803"/>
			<unit id="org.palladiosimulator.solver.feature.source.feature.group" version="6.0.0.202510210803"/>
			<unit id="org.palladiosimulator.thirdpartywrapper.feature.feature.group" version="5.0.0.202510210730"/>
			<unit id="org.scaledl.usageevolution.feature.feature.group" version="6.0.0.202510210800"/>
			<unit id="org.somox.core.feature.feature.group" version="0.0.0"/>
			<unit id="org.somox.core.feature.source.feature.group" version="0.0.0"/>
			<unit id="tools.descartes.dlim.feature.feature.group" version="6.0.0.202510210730"/>
			<unit id="tools.descartes.dlim.feature.source.feature.group" version="6.0.0.202510210730"/>
			<unit id="tools.descartes.dlim.generator.feature.feature.group" version="6.0.0.202510210730"/>
			<unit id="tools.descartes.dlim.generator.feature.source.feature.group" version="6.0.0.202510210730"/>
		</location>
		<location type="Target" uri="mvn:org.palladiosimulator:palladio-target-platforms:0.1.0:target:palladio-2023-03"/>
	</locations>
</target>